module PaaS
  VERSION = "x.y.z".freeze
  NAME = "PaaS".freeze
  DEBUG = true

  #-- DB - micros
  DB_FILE = "paas.db".freeze
  SALT="SomeRandomValue123456".freeze

  #-- HTTP - cookies
  DOMAIN = "example.com".freeze
  BASE = "/".freeze
  HTTPBASE = "http://#{DOMAIN}#{BASE}".freeze
  PUSHUB = "https://pubsubhubbub.appspot.com/".freeze
  API_PORT = 8888
  PAGE = 20
  FEED_PAGE = 10
  
  #-- XMPP - bot 
  USER = "bot@example.com".freeze
  PASS = "SomeSecret".freeze
  MASTERS = ["master@example.com", "god@example.com"].freeze
  STATUS = ["available", "away", "chat", "dnd", "offline", "online", "unavailable", "xa", "unknown"].freeze
end
